.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.task {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-content: center;
  width: 40%;

  margin: 5px;
}

.task-text {
  vertical-align: middle;
  height: 20px;
  width: 100%;
}

.task-checkbox {
  height: 20px;
  width: 20px;
}