@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@300&display=swap%27');

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode img {
  filter: invert(100%);
}

.dark-mode button {
  filter: invert(100%);
}

.dark-mode .task-checkbox:checked {
  filter: hue-rotate(320deg) invert(100%);
}

.dark-mode .task-text {
  background-color: rgb(41, 41, 41);
  color: white;
  border-color: white;
}

.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.Inspo {
  border-color: rgb(244, 127, 255);
  border-width: 4px;
  border-style: dotted;
  font-family: cursive;
  font-size: x-large;
  width: 15%; 
  background-image: url("images/clouds.jpeg"); 
  backdrop-filter: brightness(90%);
  background-position: center;
  background-size:cover;
}

.task {
  display: flex;
  
  flex-direction: row;
  align-self: center;
  align-items: center;
  width: 40%;

  margin: 10px;
}

h1 {
  margin-bottom: 1%;
}

img {
  height: 80px;
  width: 150px;
  float: left;
}

.task-text {
  vertical-align: middle;
  height: 25px;
  width: 100%;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;

}

.task-checkbox {
  height: 25px;
  width: 30px;
}

.task-checkbox:checked {
  filter: hue-rotate(320deg);
}

Button {
  background-color: rgb(190, 232, 243);
  border-color: rgb(180, 180, 180);
  margin: 3px;
  width: 70px;
  border-radius: 5px;
  justify-content: center;
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

Button:hover {
  background-color: #0093b4; /* Green */
  color: white;
}

.changeRows {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.TaskList {
  display: flex;
  flex-direction: column;
  align-self: center; 
  width: 70vw;

}